/* -- Setup -- */

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
}
  
html {
    height: 100%;
}
  
body {
    min-height: 100vh;
    transition: none !important;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* -- Colour -- */

:root {
    --pale-blue: #666CA3;
    --dark-blue: #13183F;
    --grey: #83869A;
    --red: #F74780;
    --pink: #FFA7C3;
    --white: #FFFFFF;

    --orange-to-pink: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --purple-to-pink: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
    --white-to-blue: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    --white-to-pink: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --purple-to-white: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);

}

.text-blue {
    color: var(--dark-blue);
}

.text-grey {
    color: var(--grey);
}

.text-white {
    color: var(--white);
}

/* -- Typography -- */

* {
    font-size: 10px;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.heading-xl {
    font-weight: 800;
    font-size: 5.6rem;
    line-height: 7rem;
}

.heading-l {
    font-weight: 800;
    font-size: 4rem;
    line-height: 5.1rem;
}

.heading-m {
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 4rem;
}

.heading-s {
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 2.8rem;
}

.body-m {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.body-s {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

/* -- Stand-out elements -- */

/* - Buttons - */

button {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;

    font-size: 1.8rem;
    font-weight: 700;
}

.button-box {
    border-radius: 28px;
    padding: 1.4rem 2.4rem;
    color: var(--white);
}

.button-1 {
    border-radius: 31.5px;
    background-color: var(--dark-blue);
}

.button-1:hover {
    background-color: var(--grey);
}

.button-2 {
    border-radius: 28px;
    background-image: var(--orange-to-pink);
}

.button-2:hover {
    background-image: var(--white-to-pink);
}

.button-3 {
    border-radius: 28px;
    background-image: var(--purple-to-pink);
}

.button-3:hover {
    background-image: var(--purple-to-white);
}

.button-text {
    color: var(--red);
}

.button-text:hover {
    color: var(--pink);
}

/* -- Stand-out Positioning -- */

.section-header, .section-hero, .section-courses, .section-footer {
    padding: 0rem 2rem;
}

.container {
    max-width: 111rem;
    margin: 0 auto;
}

.container-shared {
    padding: 2.5rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* -- Hero Section -- */

.section-hero {
    padding: 10rem 2rem 10rem 2rem;
}

.hero-body {
    display: flex;
    flex-direction: row;
}

.hero-body-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.hero-body-img {
    display: none;
    z-index: -1;
}

/* -- Courses Section -- */

.section-courses {
    background-image: var(--white-to-blue);
}

.container-courses {
    padding: 0rem 0rem 10rem 0rem;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    row-gap: 9rem;
    column-gap: 3rem;
}

.card {
    min-height: 100%;
    padding: 3rem;
    border-radius: 15px;
    margin: auto;
}

.title {
    background-image: var(--orange-to-pink);
    width: 100%;
}

.course {
    background-color: var(--white);
}

.course-img {
    max-width: 5.6rem;
    position: relative;
    bottom: 6rem;
}

.course-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: stretch;
    gap: 2rem;
}

.margin-top {
    margin-top: auto;
}

/* -- Footer -- */

.section-footer {
    background-color: var(--dark-blue);
    margin-bottom: 0rem;
}

/* -- Media Queries -- */